HTTP_PORT=80

DATABASE_NAME=toyshop
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=смените_на_случайную_строку

JWT_SECRET=смените_на_длинную_случайную_строку
JWT_ACCESS_EXPIRES_MIN=15
REFRESH_TOKEN_DAYS=7

COOKIE_SECURE=false
COOKIE_SAMESITE=lax
COOKIE_DOMAIN=.rndtoys.ru

CORS_ORIGIN=http://rndtoys.ru,http://www.rndtoys.ru

SHIPPING_STANDARD_RUB=500
FREE_SHIPPING_MIN_SUBTOTAL=500

ADMIN_EMAIL=admin@toyshop.com
ADMIN_NAME=Admin
ADMIN_PASSWORD=admin
