PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=toyshop
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=root

DATABASE_URL=postgres://postgres:root@localhost:5432/toyshop

JWT_SECRET=sadfsdfsdfsdfdsfsdfdssdfs12312312312

JWT_ACCESS_EXPIRES_MIN=15

REFRESH_TOKEN_DAYS=7

SHIPPING_STANDARD_RUB=500
FREE_SHIPPING_MIN_SUBTOTAL=500

ADMIN_EMAIL=admin@toyshop.ru
ADMIN_NAME=admin
ADMIN_PASSWORD=admin
